<!DOCTYPE html>
<html>
<head>
    <title>Algorand Token Manager</title>
    <link rel="stylesheet" type="text/css" href="static/css/style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body>
    <h1>Algorand Token Manager</h1>
    <button class="button-home" id="send-transaction">Send Token</button>
    <button class="button-home" id="validate-transaction">Receive Token</button>

    <div id="dynamic-content"></div>

    <script src="static/js/script.js"></script>
</body>
</html>